
.panel-success {
    border-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: rgba(7,8,8,.52);
    border-color: rgba(7,8,8,.52);
}


#captcha {
    width: 150px;
}


.jgrowl-error {
    background-color: #a94442 !important;
}

.jgrowl-success {
    background-color: #3c763d !important;
}

.jgrowl-warning {
    background-color: #8a6d3b !important;
}