.wrapper {
    background-color: rgb(255, 255, 255);
    margin-top: 45vh;
}



.preview {
    margin: 30px auto !important;
    width: 70vw;
}


.navbar-custom .navbar-nav li.active a {
    border-radius: 0.5em;
}

.btn-primary, .btn-success {
   &:focus {
    background-color: rgb(37, 35, 35) !important;
   } 
}

.medescription {
    padding: 20px;
    text-align: left;
}

.portfolio-item {
    border: 1px dashed rgba(7,8,8,.52);
    border-left: none;
    border-right: none;
    padding: 20px;
}

.portfolio-description {
    text-align: center;
}


body {
    background-image: url(../img/Untitled-1.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #030408;
    
}

.foot {
    color: white;
}

