.wrapper {
    background-color: rgb(255, 255, 255);
    margin-top: 45vh;
}



.preview {
    margin: 30px auto !important;
}


.navbar-custom .navbar-nav li.active a {
    border-radius: 0.5em;
}

.medescription {
    padding: 20px;
    text-align: left;
}


body {
    background-image: url(../img/Untitled-1.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #030408;
    
}

.foot {
    color: white;
}

